.about{
    width: 100%;
    min-height: auto;
    background-color: rgb(17, 16, 22);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.about img{
    width: 40%;
    scale: 0.7;
}


.about .about-block {
    width: 55%;
}

.about .about-block h2{
    color: rgba(255, 196, 0, 1);
    font-size: 40px;
    margin: 50px 0;
    animation: glow-text 3.5s ease-in-out infinite;
}

.about .about-block p{
    color: white;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 50px;
}

@keyframes glow-text{
    0% {
        text-shadow: rgba(255, 196, 0, 0.0) 0px 0px 40px;
    }

    50% {
        text-shadow: rgba(255, 196, 0, 0.7) 0px 0px 40px;
    }

    100% {
        text-shadow: rgba(255, 196, 0, 0.0) 0px 0px 40px;
    }
}

@media (max-width: 768px){

    .about img{
        display: none;
    }

    .about .about-block{
        width: 90%;
        text-align: center;
    }

}